doctype html
html
    head
        link(rel="shortcut icon" href="#")
        link(rel='stylesheet', type='text/css', href='../css/country.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
        link(rel='stylesheet', href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css')
        script(src='https://unpkg.com/leaflet@1.3.4/dist/leaflet.js')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title#query #{' '+query}

    body
        h1#query.mt-5 #{' '+query}
        // events
        - eventsOnMap = new Array;
        .spaces1
        - if (events && events.length > 0)
            h1#upcomingEvents(style='text-align:left; margin: 65px;') #{'Upcoming Events: ' + events.length}
            #tableWrapper
                .scroll
                    table#eventsTable
                        tr#headerTable
                            th Title
                            th City
                            th Start Time
                            th Details
                        each event,i in events
                            - eventsOnMap.push({lat:event.venue.latitude, lng:event.venue.longitude, title:event.name.text})
                            tr
                                td= event.name.text
                                td= event.venue.address.city
                                td= event.start.local
                                td(style='color:blue;cursor:pointer;text-decoration:underline;', onclick=`eventDetails(${i})`) Venues
        - else
            table.table
                tr#headerTable
                    th Title
                    th City
                    th Start Time
                    th Details
                tr#eventsTable
                    td(style='color:red;text-align:center;height:300px') NO AVAILABLE EVENTS!
        .spaces1
        .spaces1
        footer
            #mapContainer.text-center
                #map
            #btnStyle.text-center
                .spaces1
                button#back-btn(onclick='window.history.back()', type='button') Back to search page
            .spaces2

        script.
            let events = !{JSON.stringify(events)}
            function eventDetails(i) {
                sessionStorage.eTitle = events[i].name.text;
                sessionStorage.eDescription = events[i].description.text;
                sessionStorage.eAddress = events[i].venue.address.localized_multi_line_address_display[0];
                sessionStorage.eStartTime = events[i].start.local;
                window.location.assign(`/events/details?lat=${events[i].venue.latitude}&long=${events[i].venue.longitude}`)
            }
        - if (eventsOnMap.length > 0) 
            script.
                eventsOnMap = !{JSON.stringify(eventsOnMap)};
                let map = L.map('map').setView([90, 90], 4);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
                let markerArray = [];
                for (let i = 0; i < eventsOnMap.length; i++) {
                    let marker = L.marker([eventsOnMap[i].lat, eventsOnMap[i].lng]).addTo(map)
                        .bindPopup(eventsOnMap[i].title);
                    markerArray.push(marker);
                }
                var group = L.featureGroup(markerArray).addTo(map);
                if (group.getBounds().isValid()) {
                    map.fitBounds(group.getBounds());
                }